
body{
    background-image: url("312430-como-melhorar-a-experiencia-gastronomica-na-sua-padaria.jpg");
    background-repeat: repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 70px;
color: rgb(223, 182, 129);
}
li{
    font-size: 40px;
color: rgb(219, 182, 79);
}
a{
    color: rgb(46, 132, 207);
}
.boatao{
    background-color: aqua
    cornflowerblue
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    transtiton:background-color 0.3s ease;
}
.boatao:hover{
    background-color: black;
}