
body{
    background-image: url("312430-como-melhorar-a-experiencia-gastronomica-na-sua-padaria.jpg");
    background-repeat: repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 70px;
color: rgb(223, 182, 129);
}
li{text-align: right;
color: rgb(219, 182, 79);
}
a{
    color: aliceblue;
}